* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/moon-stars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --social-links-hover: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(assets/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
  gap: 8px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#switch {
  position: relative;
  margin: 4px auto;
  width: 64px;
}

#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;

  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  transition: left 0.2s;

  animation: slide-out 0.3s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.3s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}

#social-links a:hover {
  background-color: var(--social-links-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 380px) {
  #container {
    padding: 0 12px;
    margin: 32px auto 0px;
  }

  #profile {
    padding: 16px;
  }

  ul {
    padding: 16px 0;
    gap: 12px;
  }

  ul li a {
    height: 48px;
    padding: 12px 16px;
    font-size: 14px;
  }

  #social-links {
    padding: 16px 0;
    font-size: 20px;
  }

  #social-links a {
    padding: 12px;
  }

  footer {
    padding: 16px 0;
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
